extends _include/structure/_layout.pug

block content
  main
    section.hero
      .response
        .vertical
          article 
            h1 
              span Trouvez le 
              span 
                u cadeau idéal
              span 
              span 🎁 livré dès demain ! 
            .description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, iure qui. Beatae deleniti incidunt debitis laborum laboriosam! Blanditiis id laboriosam pariatur, quas aperiam aspernatur, autem consequuntur natus voluptatum architecto eius.
          .form
            form
              .form-group
                label Pour qui ?
                select
                  option Pour elle 
                  option Pour lui
              .form-group
                label Quel âge ?
                select
                  option Bébé
                  option Enfant 
                  option Ado 
                  option Adulte 
                  option Sénior

              .form-group
                label Quel profil ?
                select
                  option Aventurier
                  option Romantique
                  option Littéraire
                  option Geek 
                  option Gamer 
                  option Casse-cou
                  
              .form-group
                label + de 800 idées cadeaux 🎁
                button(type='submit') Trouver les idées
    section
      .response
        .vertical
          article 
            h1 
              span Trouvez le 
              span 
                u cadeau idéal
              span 
              span 🎁 livré dès demain ! 
            .description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, iure qui. Beatae deleniti incidunt debitis laborum laboriosam! Blanditiis id laboriosam pariatur, quas aperiam aspernatur, autem consequuntur natus voluptatum architecto eius.
                      
            